.DS_Store
*.zip

# Ignore the csv files
data/*.csv

# Ignore python byte code
*.pyc

# Ignore scripts related to cleaning the data
clean_*

# Ignore .tif and .pdf files in graphics folder
graphics/*.tif
graphics/*.pdf
